.result-page{
    display: flex;
    flex-direction:column ;
    align-items: center;
    display: none;
}
.thanks-text{
    font-size: 45px;
}
.result-text{
    font-size: 29px;
    font-weight: bold;
    text-align: center;
}
.compliment-text{
     font-size: 29px;
    font-weight: bold;
}
.play-again-button{
     width: 160px;
    height: 70px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    background-color: rgb(255, 104, 104);
    color: white;
    cursor: pointer;
}