body{
    background :linear-gradient(100deg,black , white , black);
    display: flex;
    align-items: center;
    justify-content: center;
      height: 100vh;
      font-family: arial;
}
main{
    height: 600px;
    width: 600px;
    background: linear-gradient(130deg ,yellow ,rgb(255, 146, 146));
    border-radius: 30px;
    
  box-shadow: 5px 5px 70px rgba(182, 196, 95, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}



