.start-quiz-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
   
}
.quiz-game-text{
    font-size: 60px;
}

.quix-explanation{
font-size: 30px;
font-weight: bold;
text-align: center;
width: 400px;
}

.start-quiz-button{
    width: 160px;
    height: 70px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    background-color: rgb(255, 104, 104);
    color: white;
    cursor: pointer;
}
.parent-dive .start-quiz-page{
  display: none;
}
.Starting-over .start-quiz-page{
  display: initial;
  display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}